[*.cs]

# CS3008: Identifier is not CLS-compliant
dotnet_diagnostic.CS3008.severity = error

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none
